server:
  port: 8083

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:mysql://mysql:3306/order_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true

    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  cloud:
    nacos:
      discovery:
        server-addr: nacos:8848
