

 services:
   mysql:
     image: m.daocloud.io/docker.io/library/mysql:8.0
     container_name: mysql
     ports:
       - "3307:3306"
     environment:
       MYSQL_ROOT_PASSWORD: 123456
     volumes:
       - mysql-data:/var/lib/mysql
       - /d/--main/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
     networks:
       - ecommerce-net
     healthcheck:
       test: [ "CMD", "mysqladmin", "ping", "-uroot", "-p123456" ]
       interval: 5s
       timeout: 5s
       retries: 10

   nacos:
     image: nacos/nacos-server:v2.2.3
     container_name: nacos
     environment:
       - MODE=standalone
     ports:
       - "8848:8848"
     networks:
       - ecommerce-net

   user-service:
     build: ./user-service
     container_name: user-service
     depends_on:
       mysql:
         condition: service_healthy
       nacos:
         condition: service_started
     ports:
       - "8081:8081"
     networks:
       - ecommerce-net

   product-service:
     build: ./product-service
     container_name: product-service
     depends_on:
       mysql:
         condition: service_healthy
       nacos:
         condition: service_started
     ports:
       - "8082:8082"
     networks:
       - ecommerce-net

   order-service:
     build: ./order-service
     container_name: order-service
     depends_on:
       mysql:
         condition: service_healthy
       nacos:
         condition: service_started
     ports:
       - "8083:8083"
     networks:
       - ecommerce-net

   gateway-service:
     build: ./gateway-service
     container_name: gateway-service
     depends_on:
       nacos:
         condition: service_started
     ports:
       - "8080:8080"
     networks:
       - ecommerce-net
     restart: always

   frontend:
     build: ./frontend
     container_name: frontend
     depends_on:
       - gateway-service
     ports:
       - "8088:80"
     networks:
       - ecommerce-net
     restart: always

 volumes:
   mysql-data:

 networks:
   ecommerce-net:
     driver: bridge
